<!-- components/sign-in-form/template.hbs -->

{{email-input email=credentials.email}}
{{password-input password=credentials.password}}

<button type="submit" class="btn btn-success" {{action "submit"}}>
  Sign In
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>

<br><br>
<p> New to JFP? {{#link-to "sign-up"}}Sign Up{{/link-to}}</p>
