

.form-group {
  width: 300px;
  margin-left: 2em;
}

label {
  margin-left: 1em;
  float: left;
}

.login-bottom {
  position: fixed;
  margin-left: -6px;
}

form {
  margin-left: 2em;
}


.pepperimg {
  width: 500px;
  margin: -3em 0 0 -3em;
}
