@import 'colors';

.post-table-header {
  margin-left: 2em;
  font-size: 22px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

th {
  color: $tablegreen;
  text-align: center;

}

td {
  text-align: left;
}

.post-form {
  margin: 0 auto;
}
input {
    margin: 8px 0;
    border: none;
}
