@import 'colors';

h2 {
  text-align: center;
}

hr.style-two {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(7,190,53,0.4), rgba(0, 0, 0, 0));
}

.row {
  text-align: center;
  font-size: 17px;
}
.left-title {
  margin-right: -6em;
  color: $red;
  font-weight: 600;
}
input {
  margin: 8px;
}

body {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
}

.post-snippet, .review-snippet {
  text-align: left;
}

.review-snippet {
  margin-left: 2em;
}
