<!-- component/review-form/template.hbs -->
<h5> Review A Pepper </h5>
<div>
  {{input placeholder='Post Title' value=postTitle}}
  {{input placeholder='Rating Of Spiciness' value=reviewForm.rating}}
  {{input placeholder='Comment' value=reviewForm.comment}}
</div>
<button {{action 'createReview'}} class="btn btn-success"> Submit </button>
