<!-- component/post-form/template.hbs -->
<h2> Make It Pepper With A Post! </h2>
<br>
{{#if isAuthenticated}}
<div class="row">
  <button class="btn btn-success create-button" data-toggle="collapse" data-target="#post-form"> Add A Pepper </button>
</div>
<div id="post-form" class="collapse row">
  <div class="col-sm-3">{{input placeholder='Pepper' value=form.title}}</div>
  <div class="col-sm-5">{{input placeholder='Description' value=form.description}}</div>
  <div class="col-sm-4">{{input placeholder='Website' value=form.website}}</div>
  <div class="row">
    <button {{action 'createPost'}} class="btn btn-warning create-button">Create!</button>
  </div>
</div>
<br>
<br>
<br>
{{/if}}
