<!-- component/post-form/template.hbs -->

<h5> Make It Pepper With A Post! </h5>
<div>
  {{input placeholder='Title' value=form.title}}
  {{input placeholder='Description' value=form.description}}
  {{input placeholder='Website' value=form.website}}
</div>
<button {{action 'createPost'}}> Add a New Post </button>

<br>
<br>
<table class="post-table-header">
<thead>
  <tr>
    <th>Pepper</th>
    <th>Description</th>
    <th>Website</th>
  </tr>
</thead>
</table>
